.about-presentation-text{
    color: #0B0B0B;
}

.about-separator-banner{
    height: 14em;
}

.about-horaires-card{
    background-color: #6CC6D7;
    border-radius: 25px;
    color: white;
    padding: 1em;
}

.card-fb-publication{
    border-color: #6CC6D7;
    border-radius: 25px;
}

.carousel .slide{
    background-color: transparent!important;
}

.carousel-arrow{
    width: 80%
}
.right-arrow{
    float: right;
}

@media(min-width: 1024px){
    .about-separator-banner{
        height: 34em;
    }

    .about-presentation-text{
        color: #0B0B0B;
        font-size: 3em;
    }
    .horaire-section{
        font-size: 2em;
    }
    .carousel-arrow{
        width: 40%;
    }
    .fb-publication-content{
        font-size: 2em;
    }
    .fb-publication-title{
        font-size: 2em;
    }
}