.card-info{
    border: 3px dashed #6CC6D7;
    width: 100%;
}

.high-price{
    background-color: #6CC6D7;
    color: white;
    font-weight: bolder;
    font-size: 0.5em;
    width:50%;
    padding-bottom:50%;
    border-radius:50%;
    line-height: 0.65em;
}

.price-supp{
    position:absolute;
    top:35%;
    left:25%;
    transform: translate(-50%, -50%);
    margin:0;
}
.low-text{
    font-size: 0.4em;
}

@media(min-width: 1024px){
    .card-info{
        border: 3px dashed #6CC6D7;
        width: 40%;
    }
    .high-price{
        background-color: #6CC6D7;
        color: white;
        font-weight: bolder;
        font-size: 1.4em;
        width:50%;
        padding-bottom:50%;
        border-radius:50%;
        line-height: 0.65em;
    }
    .low-text{
        font-size: 0.75em;
    }
    .price-supp{
        position:absolute;
        top:56%;
        left:25%;
        transform: translate(-50%, -50%);
        margin:0;
    }
    .sauces-content{
        font-size: 1.6em;
    }
    .sauce-title{
        font-size: 2em;
    }
}