.menu-price{
    background-color: #6CC6D7;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    width:80%;
    padding-bottom:80%;
    border-radius:50%;
}

.menu-price-content{
    position:absolute;
    top:50%;
    left:43%;
    transform: translate(-50%, -50%);
    margin:0;
}

.plus-logo{
    font-size: 3em;
    font-weight: bolder;
}

@media(min-width: 1024px){
    .menu-content{
        font-size: 2em;
    }
    .product-name{
        font-size: 4em;
    }
    .standard-menu{
        font-size: 2em;
    }
    .menu-price-logo{
        width: 80%;
    }
    .menu-type{
        font-size: 2.5em;
    }
    .plus-logo{
        font-size: 5em;
        font-weight: bolder;
    }
    .menu-price{
        background-color: #6CC6D7;
        color: white;
        font-weight: bolder;
        font-size: 4em;
        width:50%;
        padding-bottom:50%;
        border-radius:50%;
    }
    .menu-section-content{
        margin-top: -3em;
    }
    .menu-price-content{
        position:absolute;
        top:50%;
        left:28%;
        transform: translate(-50%, -50%);
        margin:0;
    }
}