html, body {
  font-family: "SignPainter", sans-serif !important;
  color: #6CC6D7!important;
}

.row{
  margin-left: unset!important;
  margin-right: unset!important;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
