.top-bar-mobile{
    background-color: #0B0B0B;
    height:4.5em;
}
.bm-burger-button{
    position: absolute;
    width: 36px;
    height: 30px;
    display: flex;
    right: 1em;
    top: 1em;
}

.nav-mobile{
    width: 20%;
    top: 4.4em;
    height: 100vh!important;
    background: #0B0B0B;
}

.nav-mobile-link{
    color: #6CC6D7;
    font-size: 1.5em;
    font-weight: bolder;
}

.btn-menu{
    width: 80%;
    margin-left: 0.75em;
    box-shadow: 0 0 0 0.2rem rgba(108, 198, 215,1);
    border-radius: 15px!important;
}

.btn-menu:focus{
    width: 80%;
    margin-left: 0.75em;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255,1);
}

.bm-overlay{
    top: 4.5em;
    left:0;
}

.card-menu{
    width: 80%;
    border: 3px solid rgba(108, 198, 215,1);
    border-radius: 15px;
    background-color: transparent;
}

.maker{
    font-size: 0.5em;
}

.card-horaires{
    font-size: 1.3em;
}

@media(min-width: 768px){
    .top-bar-mobile{
        background-color: #0B0B0B;
        height: 5em;
    }
    .bm-overlay{
        top: 5em;
        left:0;
    }
}